.header {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__leftLogo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header__left > .header__leftIconMenu {
  color: gray;
  padding: 5px;
  cursor: pointer;
}

.header__left > .header__leftIconMenu:hover {
  background-color: rgb(165, 165, 165);
  border-radius: 999px;
}

.header__middle {
  display: flex;
  align-items: center;
  border: 1px solid gray;
}

.header__middle > input {
  background-color: transparent;
  border: none;
  width: 120px;
  padding-left: 5px;
  color: white;
  outline-width: 0;
}

.header__middle > .MuiSvgIcon-root {
  border-left: 1px solid gray;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: gray;
}

.header__middle > .MuiSvgIcon-root:hover {
  color: lightgray;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > .MuiSvgIcon-root {
  font-size: 20px;
  padding: 5px;
}

.header__right > .MuiSvgIcon-root:hover {
  background-color: rgb(133, 133, 133);
  border-radius: 999px;
  cursor: pointer;
}

.header__right > .header__rightAvatar {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.header__right > .header__rightAvatar:hover {
  background-color: rgb(133, 133, 133);
}
