.header {
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #202020;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(87, 87, 87);
}

.header__topLeft {
  display: flex;
  align-items: center;
}

.header__topLeftLogo {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.header__topLeft > .header__topleftIconMenu > .MuiSvgIcon-root {
  color: gray;
  padding: 5px;
  cursor: pointer;
}

.header__topLeft > .header__topleftIconMenu > .MuiSvgIcon-root:hover {
  background-color: rgb(165, 165, 165);
  border-radius: 999px;
}

.header__topMiddle {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  flex: 0.6;
}

.header__topMiddle > input {
  background-color: transparent;
  border: none;
  width: 120px;
  padding-left: 5px;
  color: white;
  outline-width: 0;
  flex: 1;
}

.header__topMiddle > .MuiSvgIcon-root {
  border-left: 1px solid gray;
  padding: 1px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: gray;
  flex: 0.1;
}

.header__topMiddle > .MuiSvgIcon-root:hover {
  color: lightgray;
}

.header__topRight {
  display: flex;
  align-items: center;
}

.header__topRight > .MuiSvgIcon-root {
  font-size: 20px;
  padding: 5px;
}

.header__topRight > .MuiSvgIcon-root:hover {
  background-color: rgb(133, 133, 133);
  border-radius: 999px;
  cursor: pointer;
}

.header__topRight > .header__topRightAvatar {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-left: 10px;
}

.header__topRight > .header__topRightAvatar:hover {
  background-color: rgb(133, 133, 133);
}

.header__bottom {
  padding: 10px 0px;
  border-bottom: 1px solid rgb(87, 87, 87);
}

.header__bottomTags {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

.header__bottomTags::-webkit-scrollbar {
  display: none;
}

.header__bottomTag {
  margin-left: 10px;
  padding: 3px 15px;
  background-color: gray;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;
  scroll-padding: 0;
}

.header__bottomTag:hover {
  background-color: rgb(70, 70, 70);
  transition: background-color 500ms;
}

.active {
  background-color: lightgray;
  color: black;
}

@media (max-width: 280px) {
  .header__top {
    padding: 0;
  }

  .header__topleftIconMenu > .MuiSvgIcon-root {
    font-size: 20px !important;
    margin-top: 3px;
  }

  .header__topLeftLogo {
    margin-left: 0;
  }

  .header__topMiddle {
    flex: 0.1;
    width: 50px;
  }

  .header__topMiddle > input {
    width: 40px;
    padding-left: 2px;
  }

  .header__topMiddle > input::placeholder {
    font-size: 10px;
  }

  .header__topMiddle > .MuiSvgIcon-root {
    display: none;
  }

  .header__topRight > .MuiSvgIcon-root {
    font-size: 15px;
  }

  .header__topRight > .header__topRightAvatar {
    height: 20px;
    width: 20px;
    margin-left: 0px;
  }

  .header__bottomTags {
    width: 258px;
  }

  .header__bottomTag {
    margin-left: 5px;
  }
}
