.sidebar {
  color: white;
  background-color: #202020;
  font-size: 12px;
  height: max-content;
  flex: 0.15;
  font-family: "Roboto", sans-serif;
  position: -webkit-sticky;
  overflow-y: scroll;
  height: calc(100vh - 100px);
  padding: 10px 0;
}

.border {
  border: 1px solid gray;
}

.sidebar > h4 {
  margin-left: 25px;
  font-size: 12px;
  padding: 10px 0;
  color: gray;
}

.sidebar__Option {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

.sidebar__Option > .MuiSvgIcon-root {
  font-size: 20px !important;
  color: lightgray !important;
}

.sidebar__Option:hover {
  background-color: rgb(75, 75, 75);
  cursor: pointer;
}

.sidebar > .sidebar__Option > img {
  object-fit: contain;
  height: 20px;
  border-radius: 999px;
}

.sidebar__active {
  background-color: rgb(75, 75, 75);
}

.last {
  margin-bottom: 20px;
}

@media (max-width: 1090px) {
  .sidebar {
    flex: 0.2;
  }
}

@media (max-width: 836px) {
  .sidebar {
    flex: 0.3;
  }
}

@media (max-width: 770px) {
  .sidebar {
    display: none;
  }
}
