.video {
  background-color: #181818;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0.85;
}

@media (max-width: 865px) {
  .video {
    flex: 1;
  }
}
