.video {
  background-color: #181818;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0.85;
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

.video__top {
  border-bottom: 4px solid rgb(53, 52, 52);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video__middle {
  border-bottom: 4px solid rgb(53, 52, 52);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video__bottom {
  border-bottom: 4px solid rgb(53, 52, 52);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1090px) {
  .video {
    flex: 0.8;
  }
}

@media (max-width: 830px) {
  .video {
    flex: 0.7;
  }
}

@media (max-width: 865px) {
  .video {
    flex: 1;
  }
}
